.cast {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family);
  font-size: 12px;

  gap: 10px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imgConteiner {
  align-items: center;
  width: 100px;
  height: 100%;
  overflow: hidden;
  background-color: burlywood;

  border-radius: 10px;
}
