.cast {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family);
  font-size: 12px;

  gap: 10px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imgConteiner {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  overflow: hidden;

  border-radius: 10px;
}
.castT {
  font-size: 8px;
  width: 100px;
  font-weight: bold;
}
